#botao{
    background-color: cornflowerblue;
    color: aliceblue;
    font-size: medium;
    width: 200px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}
#botao:hover{
    background-color: blue;
    transition-delay: 100ms;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    background-color: white;
    min-height: 410px;
    width: 460px;
    gap: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    div{
        width: 350px;
        height: 50px;
    }
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family:arial;
    background-color:rgb(247, 247, 231);
}
label{
    display: block;
    text-align: center;

}
#filtro{
    display: flex;
    background-color: white;
    border: 1px solid black;
    gap: 10px;
    min-height: 410px;
    width: 460px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
}
input, select, textarea, summary{
    border: 1px solid black;
    background-color: white;
    height: 32px;
    width: 350px;
    border-radius: 3px;
    font-family: Arial,sans-serif;
    box-sizing: border-box;
    padding:4px;
}
#descricao{
    height: 65px;
    width: 350px;
}
#qtdTarefas{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: medium;
    gap: 10px;
}

summary{
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
    margin-left: 8px;
    list-style: none;
    box-sizing: border-box;
    height: 35px;
    width: 350px;
}
